body {
  font-family: 'Roboto Condensed', sans-serif;
}


.icon-top {
  background: #ffffff;
}

.icon-top a {
  color: #ffffff;
  font-size: 25px;
  transition: color 1s ease;
}

.icon-top a:hover {
  color: #d09cfa;
}

.navbar {
  background: #242424 !important;
  padding: 10px 20px !important;
  transition: padding 2s ease;
}

.navbar-background {
  padding: 2px 20px !important;
}

.navbar-brand {
  color: #A3C9FF;
  border: 3px solid #A3C9FF;
  font-size: 30px;
  transition: all 2s;
}

.navbar-brand:hover {
  background: #A3C9FF;
  color: #242424;
}

.navbar-toggler {
  border: 3px solid #A3C9FF;
  padding: 3px;
}

.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #A3C9FF;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.nav-link {
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 2s ease;
}

.nav-link:hover {
  background: #83A1CC;
  color: #ffffff;
}

.nav-active {
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  background: #ffffff;
  transition: background 2s ease;
}

.nav-active:hover {
  background: #83A1CC;
}

.drop_elem {
  color: #ffffff;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 2s ease;
}

.drop_elem:hover {
  background: #83A1CC;
  color: #ffffff;
}

.dropdown-menu {
  background: #242424 !important;
}

.item-1,
.item-2,
.item-3 {
  min-height: 60vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
}

.item-1 {
  background: linear-gradient(to right, rgba(131, 161, 204, 0.5),
      rgba(163, 201, 255, 0.1)), url(../img/about.svg) center/cover fixed no-repeat;
}

.item-2 {
  background: linear-gradient(to right, rgba(131, 161, 204, 0.5),
  rgba(163, 201, 255, 0.1)), url(../img/capa.svg) center/cover fixed no-repeat;
}

.item-3 {
  background: linear-gradient(to right, rgba(163, 201, 255, 0.9),
  rgba(163, 201, 255, 0.5)), url(../img/img1.jpg) center/cover fixed no-repeat;
}

.slide-btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: all 1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.slide-btn:hover {
  color: #83A1CC;
  background: #ffffff;
  border-color: #ffffff;
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}


.title h1 {
  color: #242424;
}

.title h2 {
  color: #ffffff;
  font-size: 4rem;
}

.title h3 {
  color: #5a5a5a;
}

.title-underline {
  height: 5px;
  width: 250px;
  background: #83A1CC;
  margin: -28px auto 0 auto;
}

.title a {
  color: #83A1CC;
  font-size: 30px;
  padding: 0px 10px;
  display: inline-block;
  background: #ffffff;
}

.skills-icon {
  background: #242424;
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
  transition: all 1s ease;
}

.skills-icon:hover {
  background: #83A1CC;
}

.skills-icon span {
  font-size: 100px;
  color: #909090;
  transition: all 1s ease-in-out;
}

.skills-icon:hover span {
  color: #ffffff;
}

#about .title a {
  background: #909090;
}

#about {
  min-height: 40vh;
  background: #50708079;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

#about a {
  color: #ffffff;
  background: #83A1CC;
  border: 2px solid #83A1CC;
  transition: all 1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#about a:hover {
  color: #83A1CC;
  background: #ffffff;
  border-color: #ffffff;
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.about-progress {
  min-height: 50vh;
  outline: 5px solid #83A1CC;
  outline-offset: 10px;
}

.progress-bar {
  background: #83A1CC;
}

#projects .card {
  background: transparent !important;
  border: none;
  position: relative;
}

#projects .card-img-top {
  border-radius: 0 !important;
}

.img-container {
  position: relative;
  overflow: hidden;
  background: #83A1CC;
}

.img-container img {
  transition: all 1s ease-in-out;
  opacity: 1;
}

.img-container:hover .project-image {
  opacity: 0.3;
  transform: scale(1.3);
}

.search-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #ffffff;
  transition: margin 1s ease-in-out, color 0.5s ease-in-out, opacity 0.75s ease-in-out;
  margin-top: -50%;
  opacity: 0;
}

.search-link:hover {
  color: #242424;
}

.img-container:hover .search-link {
  margin-top: 0;
  opacity: 1;
}

.cont {
  background: url(../img/capa.svg) center/cover fixed no-repeat;
  padding: 8rem;
}

.footer {
  background: #242424;
}

.footer a {
  color: #ffffff;
  font-size: 25px;
  transition: color 1s ease;
}

.footer a:hover {
  color: #83A1CC;
}

.text-footer {
  color: #83A1CC;
  font-size: 20px;
}


.cont-btn {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  transition: all 1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.cont-btn:hover {
  color: #83A1CC;
  background: #ffffff;
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}


